@charset "UTF-8";
body {
  background: linear-gradient(70deg, #350093, #8b02df);
  background-attachment: fixed;
  font-family: Helvetica,Arial,sans-serif; }

/* Barra de navegação
 -----------------------------*/
nav.navbar-transparent {
  padding: 15px 0px;
  background: rgba(0, 0, 0, 0.9);
  font-weight: 700; }

.navbar-light .navbar-nav .nav-link {
  color: white; }

.navbar-light .navbar-nav .nav-link:hover {
  background-color: #8b02df;
  border-radius: 10px; }

.navbar-light .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5); }

/* Estrutura conteúdos
 -----------------------------*/
#jogos_gratuitos {
  text-align: center; }

#contato {
  color: white; }

.nav-link:hover {
  background-color: #8b02df;
  border-radius: 10px; }

#rodape {
  color: white; }

#custom_nintendo {
  color: white; }

#custom_nintendo h1 {
  color: #eb1d1d; }

#custom_xbox {
  color: white; }
  
#custom_xbox h1 {
  color: #3bf023; }

#custom_playstation {
  color: white; }
  
#custom_playstation h1 {
  color: #2b99f3; }

#custom_pc {
  color: white; }
    
#custom_pc h1 {
  color: #a54add; }

#custom_pc h5 {
  color: #bc65f3; }

.custom_form {
  background: white;
  border: solid;
  color: #8b02df;
  font-weight: bold; }

.custom_form h1 {
  color: #8b02df; }

/* Rodapé
 -----------------------------*/
footer {
  background: rgba(0, 0, 0, 0.9);
  padding: 50px 50px 10px 50px; }

/* Tipografia
 -----------------------------*/
h1 {
  font-weight: 700;
  font-size: 2em;
  letter-spacing: -0.04em;
  margin-bottom: 10px;
  color: white; }

h2 {
  font-size: 1em;
  font-weight: 700;
  letter-spacing: -0.04em;
  color: white; }

h3 {
  font-weight: 700;
  letter-spacing: -0.04em;
  color: white; }

h4 {
  font-weight: 500;
  letter-spacing: -0.04em;
  color: white; }

/* Extra small devices (portrait phones, less than 576px)*/
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up)*/
/* Large devices (desktops, 992px and up)*/
/* Extra large devices (large desktops, 1200px and up)*/
/* Extra small devices (portrait phones, less than 576px)*/
/* Small devices (landscape phones, 576px and up) */
/* Medium devices (tablets, 768px and up)*/
/* Large devices (desktops, 992px and up)*/
/* Extra large devices (large desktops, 1200px and up)*/
